<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61379649737-po4f79t8fnjgglccrmmehiqshmqorgqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61379649737-po4f79t8fnjgglccrmmehiqshmqorgqs</string>
	<key>API_KEY</key>
	<string>AIzaSyCtHVYplYno6OE5LH2Y4YHmw6ZDTSYx7eg</string>
	<key>GCM_SENDER_ID</key>
	<string>61379649737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonlasley.LoveQuick-UIKit</string>
	<key>PROJECT_ID</key>
	<string>lovequick-b7c91</string>
	<key>STORAGE_BUCKET</key>
	<string>lovequick-b7c91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61379649737:ios:79329f646badfca596ed18</string>
	<key>DATABASE_URL</key>
	<string>https://lovequick-b7c91.firebaseio.com</string>
</dict>
</plist>